body{
    text-align: center;
    border: 2px;
    border-color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    padding:4px;
}
h1,h2{
    color:green;
}

p{
    text-align: justify;
}